@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: ;
  --emerald: ;
  --sky-blue: ;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.item-img {
  height: 200px;
  width: 180px;
  margin: 0 auto;
}

.price-text {
  background: linear-gradient(35deg, #ffea7b -60%, #53e488 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
